* {
    font-family: 'Roboto';
}
body {
    background: black;
}
.container {
    background: #f2f2f2;
}
.container .row .col-12{
    padding: 0px;
}
#first {
    height: 300px;
}

#first section {
    background: url("../img/code.jpg");
}

.card {
    margin: 5px;
}
.navbar a{
    transition: 200ms ease-in;
}
.navbar a:hover {
    margin-top: -7px;
    font-size: 18px;
    border-bottom: 5px solid #ccc;
}

h1 {
    color: #0B2F3A;
    margin-bottom: 20px;
    font-size: 3rem;
    font-family: 'Roboto Mono'; 
    margin-left: 20px;
}
#first-text h2 {
    margin-left: 20px;
    font-family: 'Roboto Mono';
}
h2 {
    color: #0B2F3A;
    margin-bottom: 20px;
    font-size: 1.75rem;
}
h3 {
    color:  #0B2F3A;
    margin-bottom: 20px;
    font-size: 1.25rem;
}
h4 {
    color: #0B2F3A;
    margin-bottom: 20px;
    font-size: 1rem;
}
.row {
    margin-bottom: 0px;
}
.alert {
    border-radius: 0px;
}
#contact ul{
    margin: 0px;
    padding: 0px; 
}
#contact li {
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
    list-style: none;
}
#contact a {
    padding: 10px;
}
#contact {
    padding-bottom: 40px;
}

.contenedor {
	margin: auto;
    display: table;
}
